@import '../../styles/variables.scss';

.home {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 60px;

  .charts {
    display: flex;
    flex-flow: row;
    gap: 40px;

    .chart {
      background: var(--BackdropGradient);
      height: 200px;
      display: flex;
      flex: 1;
      border-radius: var(--border-radius);
    }
  }

  .applicationsWrap {
    display: flex;
    flex-flow: column;
    gap: 16px;

    .applicationsHeader {}

    .applicationsFilter {
      background: var(--BackdropGradient);
      border-radius: var(--border-radius);
      display: flex;
      height: auto;
      padding: 8px;
    }

    .applicationsData {
      height: auto;
      display: flex;
    }
  }
}