@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-flow: column;
  gap: 16px;

  .form {
    display: flex;
    flex-flow: column;
    gap: 16px;

    .formGroup {
      gap: 8px;
  
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
      
      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: var(--border-radius);
    background: var(--PrimaryGradient);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
  }
}